* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
html, body {
    margin: 0;
    padding: 0;
}
.intro div:first-child {
    margin: 25px auto -33px auto;
    width: 55%;
}

.intro img {
    display: block;
    margin: 0 auto;
}
.intro-copy {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    margin: 50px auto auto auto;
}
.intro-copy header {
    font-family: "Oswald", "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 73px;
}
p {
    font-size: 28px;
}
.divider {
    margin: 75px auto auto auto;
    opacity: 0.6;
    text-align: center;
}

i.fa.fa-diamond {
    font-size: 26px;
    vertical-align: text-bottom;
    position: relative;
    margin: auto 5px auto 5px;
    bottom: 16px;
}
.main hr {
    background-color: #998972;
    display: inline-block;
    height: 8px;
    width: 115px;
}

.me, .stockton, .contact {
    margin: 90px auto auto auto;
    text-align: center;
    font-size: 28px;
}
.me {
    max-width: 400px;
    width: 100%;
}
.stockton {
    max-width: 1080px;
    width: 100%;
}
.stockton span {
    display: block;
    font-size: 14px;
}
.tech, .lp_samples {
    margin: 0 auto;
    text-align: center;
    width: 85%;
}
.tech > div,
.lp_samples > div {
    display: inline-block;
    margin: 18px;
    vertical-align: top;
}
.tech > div {
    max-width: 150px;
    width: 18%;
}
.lp_samples {
    width: 100%;
    max-width: 1480px;
}
.lp_samples > div {
    max-width: 500px;
    height: 400px;
    float: left;
    width: 33.33%;
    margin: 0 auto auto auto;
}
.lp_samples > div:first-child {
    background: url(../imgs/main/samples/view/ah216.PNG) no-repeat center top/contain;
}
.lp_samples > div:nth-child(2) {
    background: url(../imgs/main/samples/view/dm173.PNG) no-repeat center top/contain;
}
.lp_samples > div:nth-child(3) {
    background: url(../imgs/main/samples/view/hook19710.png) no-repeat center top/contain;
}
.lp_samples > div:nth-child(4) {
    background: url(../imgs/main/samples/view/mh2021.png) no-repeat center top/contain;
}
.lp_samples > div:nth-child(5) {
    background: url(../imgs/main/samples/view/lmc218.png) no-repeat center top/contain;
}
.lp_samples > div:nth-child(6) {
    background: url(../imgs/main/samples/view/ut252.png) no-repeat center top/contain;
}
.contact a {
    text-decoration: underline;
}
.contact span {
    display: block;
    font-size: 18px;
}
.contact img {
    max-width: 500px;
}