* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
html, body {
    margin: 0;
    padding: 0;
}

.intro div:first-child {
    margin: 25px auto -33px auto;
    width: 55%;
}

.intro img {
    display: block;
    margin: 0 auto;
}
.intro-copy {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    margin: 50px auto auto auto;
}

.intro-copy header {
    font-family: "Oswald", "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 73px;
}

.intro-copy header p:last-child {
    font-size: 24px;
}