html, body { margin: 0; padding: 0 }
.myClass {
    width: 480px;
    height: 640px;
    background: #1ca;
    color: white;
    margin: 0px auto;
}

.mySpan { width: 100%; background-color: #7a7a7a; text-align: center; }